.icon-lu-zoom {
    display: block;
    margin-top: 15px;
    /*margin: 15px ;*/
    /*padding: 0 10px;*/
    margin-left: 10px;
    /*margin-right: auto;*/
    width: 55px;
    vertical-align: middle;
}
.icon-lu-zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media  only screen and (max-width: 600px) {
  .conta{
    text-align-last: center;
  }
  .imgcnt{
      margin: auto !important;
  }
}