.icon-lu-zoom{display:block;margin-top:15px;margin-left:10px;width:55px;vertical-align:middle}.icon-lu-zoom:hover{transform:scale(1.5)}@media only screen and (max-width:600px){.conta{-moz-text-align-last:center;text-align-last:center}.imgcnt{margin:auto!important}}